pass.yml
humid-processed.png
humid-processed.svg
percip-processed.png
percip-processed.svg
sunrise-processed.png
sunrise-processed.svg
temp-processed.png
temp-processed.svg
weather-processed.png
weather-processed.svg
wind-processed.png
wind-processed.svg
humid-script-output.png
percip-script-output.png
sunrise-script-output.png
temp-script-output.png
weather-script-output.png
wind-script-output.png
weather-script-output2.png
weather-processed2.png
AP.json
DS.json
nohup.out
draw_arc_partial.png
draw_arc_partial.gif
phase.png
moon.png
intensity-processed.png
intensity-processed.svg
intensity-script-output.png
news/news*
ECVS.JPG
ECVS90.JPG
namfntsfcwbg.gif
namfntsfcwbg90.gif
news.json

